@font-face {
  font-family: 'Sarabun';
  src: url('./assets/fonts/Sarabun/Sarabun-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color: #cfdef3;
  font-family: "Sarabun";
}
